.about {
  border-top: 1px solid #fff;
  background-color: black;
  color: #fff;
  &__box {
    display: flex;
    padding: 25px;
  }
  &__poster {
    min-width: 300px;
    width: 300px;
    height: 450px;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #e3e3e3;
  }
  &__img {
    max-width: 300px;
    min-height: 450px;
  }
}
.box-famous {
  display: flex;
  justify-content: center;
}

.fameTitle {
  font-size: 40px;
  text-align: center;
}
